.navbar {
    padding: 20px;
    justify-content: flex-start;
}

.navbar-link {
    color: #444444;
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
}