body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.block {
  flex: 1;
  margin: 10px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  height: 300px;
  border-radius: 15px;
  transition: all .5s;
  transform: translateX(0px);
  opacity: 1;
  box-shadow: 0 0 10px 1px grey;
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.block-right {
  animation: fromRight .5s ease-out;
}

.block-left {
  animation: fromLeft .5s ease-out;
}

.animate .block-right {
  transform: translateX(200px);
  opacity: 0;
}

.animate .block-left {
  transform: translateX(-200px);
  opacity: 0;
}